{% extends "vivero/base.html"%}
{% load static %}
{% block content %}

<head>
    <title>Registros Usuarios</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/tablaproductores.css' %}">


</head>
<!--Creacion listado de Usuarios -->
<!-- <h1 style="color: white; text-align: center; height: 0px;">Lista Productores</h1>-->
<br>

<!--Al trabajar con vistas basadas en clases ya no retorna un diccionario si no que retorna una lista de objetos-->

{% if object_list %}
<table>
    
    <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Correo electronico</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        {% for usuario in object_list %}
        <tr>
            <td>{{ usuario.id }}</td>
            <td>{{ usuario.username }}</td>
            <td>{{ usuario.email }}</td>
            <td>{{ usuario.nombres }}</td>
            <td>{{ usuario.apellidos }}</td>
            
            <td><a class="btn btn-primary" href="{% url 'usuario:actualizar_usuario' usuario.id %}" style="color: black;">Editar</a>  <a class="btn btn-primary" href="{% url 'usuario:eliminar_usuario' usuario.id %}" style="color: black;">Eliminar</a></td>
            
        </tr>
        {% endfor %}
    </tbody>
</table>

<br>

{% endif %}
{% endblock %}