{% extends "vivero/base.html"%}
{% load static %}
{% block content %}

<head>
    <title>Viveros</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/productores.css' %}">


</head>

<form class="form-horizontal" method="POST" 

style="background-color: #2b3028;">

    <h4>Registro Viveros</h4>

    {% csrf_token%}


    {{ form.as_p }}

    <script>
        $(function(){
            $('.select2').select2({

            });

        });
    </script>

    <!--{{ form.codigo.label }}
    {{ form.codigo }}

    {{ form.nombre_vivero.label }}
    {{ form.nombre_vivero }}

    {{ form.productor.label }}
    {{ form.productor }}

    {{ form.departamento.label }}
    {{ form.departamento }}


    {{ form.municipio.label }}
    {% if form.departamento.id == form.municipio.departamento_id %}
     {{ form.municipio }}
    {% endif %}
    -->  

    <div class="">
        <button class="btn btn-primary" type="submit" style="width: 120px; margin-left: 0%; font-size: 18px; color: black;">Registrar</button>
        <a href="{% url 'vivero:listar_vivero' %}" class="button" style="width: 120px; margin-left: 10%; font-size: 18px; color: khaki;">Ver registros viveros</a>
        
    </div>
    
</form>
<br>


{% endblock %}